body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header p,
footer p {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

picture {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}

section {
    margin: 20px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: #abe;
    font-size: 1.2rem;
}

h2 {
    margin-top: 0;
    border-bottom: 1px solid #222;
    padding-bottom: 5px;
}

section p {
    margin: 10px 0;
}

ul {
    margin: 10px 20px;
    padding: 0;
}

li {
    margin: 5px 0;
}

footer {
    font-size: 0.9rem;
}